## Ejemplo 5: Lectura de datos

### 1. Objetivos:
    - Aprender a leer archivos JSON o CSV y crear `DataFrames` con ellos
 
---
    
### 2. Desarrollo:

In [5]:
import pandas as pd

<function pandas.io.json._json.read_json(path_or_buf=None, orient=None, typ='frame', dtype=None, convert_axes=None, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False, chunksize=None, compression='infer')>

Para leer archivos en formato JSON se usa la forma:

`pd.read_json(-ruta-)`

La ruta (o `path`) puede ser absoluto o relativo (en el Prework hay un link donde se explica esto con más claridad), ahora lee los datos del archivo `zomato_reviews-clean.json` que se encuentra en la carpeta de `Datasets`.

In [7]:
df = pd.read_json(-ruta-)
df

Index(['has_online_delivery', 'price_range', 'currency', 'name', 'cuisines',
       'location.address', 'location.city', 'user_rating.rating_text'],
      dtype='object')

Ahora asignamos nuevos índices para contar a partir del 1:

In [11]:
df_1 = pd.DataFrame(df, index=-lista de nuevos índices )
df_1

,has_online_delivery,price_range,currency,name,cuisines,location.address,location.city,user_rating.rating_text
1,0.0,3.0,Rs.,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...","C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,Excellent
2,1.0,2.0,Rs.,The Hudson Cafe,"Cafe, Italian, Continental, Chinese","2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Very Good
3,0.0,3.0,Rs.,Summer House Cafe,"Italian, Continental","1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,Very Good
4,0.0,3.0,Rs.,38 Barracks,"North Indian, Italian, Asian, American","M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,Very Good
5,1.0,2.0,Rs.,Spezia Bistro,"Cafe, Continental, Chinese, Italian","2525, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Excellent
...,...,...,...,...,...,...,...,...
1177,0.0,3.0,£,Roseleaf Bar Cafe,"Scottish, Cafe","23-24 Sandport Place, Leith, Edinburgh EH6 6EW",Edinburgh,Excellent
1178,0.0,3.0,£,Civerinos,"Pizza, Italian","5 Hunter Square, Royal Mile, Old Town, Edinbur...",Edinburgh,Good
1179,0.0,3.0,£,The Hanging Bat,American,"133 Lothian Road, Old Town, Edinburgh EH3 9AD",Edinburgh,Good
1180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Investigamos el nombre de las columnas:

In [ ]:
df_1

O eliminamos la columna `price_range` con `dataframe.drop(columns=-lista-)`:

In [15]:
df_1

,has_online_delivery,currency,name,cuisines,location.address,location.city,user_rating.rating_text
0,1,Rs.,Hauz Khas Social,"Continental, American, Asian, North Indian","9-A & 12, Hauz Khas Village, New Delhi",New Delhi,Very Good
1,0,Rs.,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...","C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,Excellent
2,1,Rs.,The Hudson Cafe,"Cafe, Italian, Continental, Chinese","2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Very Good
3,0,Rs.,Summer House Cafe,"Italian, Continental","1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,Very Good
4,0,Rs.,38 Barracks,"North Indian, Italian, Asian, American","M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,Very Good
...,...,...,...,...,...,...,...
1175,0,£,The Boozy Cow,"Burger, Grill","17 Frederick Street, New Town, Edinburgh EH2 2EY",Edinburgh,Very Good
1176,0,£,La Favorita,Italian,"325-331 Leith Walk, Leith, Edinburgh EH6 8SA",Edinburgh,Excellent
1177,0,£,Roseleaf Bar Cafe,"Scottish, Cafe","23-24 Sandport Place, Leith, Edinburgh EH6 6EW",Edinburgh,Excellent
1178,0,£,Civerinos,"Pizza, Italian","5 Hunter Square, Royal Mile, Old Town, Edinbur...",Edinburgh,Good
1179,0,£,The Hanging Bat,American,"133 Lothian Road, Old Town, Edinburgh EH3 9AD",Edinburgh,Good

---
---
## RETO:

Debido a que la lectura de datos en formato CSV es muy similar, ahora lee los datos del archivo `melbourne_housing-no_nans.csv` que se encuentra en la carpeta de `Datasets` y realiza alguna exploración de los datos.

In [ ]:
df = ...
df